treechildren::-moz-tree-image(modules_mailbox_message){
	list-style-image: url(/changeicons/small/mail.png) ;
}

textbox.neutral{
	-moz-appearance: none;
	border: 0px none;
	background: transparent;
	color: #666!important;
}
label.message-header-field{
	width: 110px;
	font-weight: bold!important;
	color: #666!important;
}
toolbar.message-header{
	-moz-appearance: none!important;
	background: url(/media/backoffice/bg_subheader_c.png) #ccc top left repeat-x!important;
	border-bottom: 1px solid #999!important;
	padding-top: 6px!important;
}
